@font-face {
  font-family: '729-font';
  src: url("./fonts/729-font.eot");
  src: url("./fonts/729-font.eot?#iefix") format("embedded-opentype"), url("./fonts/729-font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdihausDIN-Cn';
  src: url("./fonts/AdihausDIN-Cn.ttf") format("truetype"), url("./fonts/AdihausDIN-Cn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.acurate {
  margin: 0;
  padding: 0;
}

/*.acurate .shop:hover{
  border: 1px solid red;
  z-index: 99;
}*/

body {
  font-family: AdihausDIN,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.small-shop-area .product_area {
  border: 1px solid #ffffff;
  margin: 10px 0 0px;
  padding:0;
}


.small-shop-area .product_area .shop {
  transition: all 0.3s ease-in-out;
  background: #fff;
  width: 100%;
  border: 1px solid transparent;
  z-index: 99;
  left: 0;
}
.small-shop-area .product_area:hover .shop{
  position: absolute;
  left: 0;
  border:1px solid #000;
}

.small-shop-area .product_area:hover .extra-products .nav {
  display: block;
  width: 100%;
}

.small-shop-area .product_area .shop .tab-content {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images {
  width: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images .bucket {
  position: absolute;
  right: 15px;
  top: 15px;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images img {
  width: 100%;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images .original-image {
  transition: all 0.3s ease-in-out;
  display: block;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images .hover-image {
  display: none;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .product_area .shop .tab-content .tab-pane .images:hover .original-image {
  transition: all 0.3s ease-in-out;
  display: none;
}
.small-shop-area .shop .tab-content .tab-pane .images:hover .hover-image {
  display: block;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .shop .extra-products {width: 100%;}
.small-shop-area .shop .extra-products .nav {
  transition: all 0.3s ease-in-out;
  margin-bottom:10px;
  background: #ECEFF1;
  position: relative;
  z-index: 999;
  height: 100px;
  display: none;
}
.small-shop-area .shop .extra-products .nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.small-shop-area .shop .extra-products .nav li a {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 0 10px;
  position: relative;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .shop .extra-products .nav li a:hover:after {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .shop .extra-products .nav li a:after {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #000000;
  content: "";
  bottom: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .shop .extra-products .nav li a.active:after {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.small-shop-area .shop .extra-products .product-info {
  padding: 10px;
  position: relative;
  z-index: 99;
  background: #fff;
  width: 100%;
}
.small-shop-area .shop .extra-products .product-info span {
  color: #767677;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.small-shop-area .shop .extra-products .product-info h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  max-height: 30px;
  font-size: 12px;
  line-height: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.small-shop-area .shop .extra-products .product-info .price {
  margin-bottom: 30px;
}
.small-shop-area .shop .extra-products .product-info .price span {
  color: #e32b2b;
}
.small-shop-area .shop .extra-products .product-info .price del {
  color: #767677;
  text-decoration: line-through;
  margin-right: 0;
  font-size: 12px;
  font-weight: 400;
}
.small-shop-area .shop .extra-products .product-info .color {
  color: #767677;
  line-height: 1;
  text-transform: lowercase;
  font-size: 12px;
}

@media only screen and (max-width: 1050px) {
  .small-shop-area .shop .extra-products .nav li a img {
    width: 75px;
  }
}
@media only screen and (max-width: 992px) {
  .small-shop-area .shop .extra-products .nav,
  .small-shop-area .shop:hover .extra-products .nav {
    display: none;
    width: 0 !important;
    bottom: 0 !important;
    height: 0 !important;
  }

  .small-shop-area .shop .extra-products .product-info,
  .small-shop-area .shop:hover .extra-products .product-info {
    bottom: -136px;
  }
}
@media only screen and (max-width: 575px) {
  .col-lg-3.col-md-4.col-sm-6.acurate {
    width: 50%;
  }
}
